<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Form ordering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
 
{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="nav-download" method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l"> 
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Requesting a form</span>
            </legend>
        
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Which form would you like?
              </h1>
            </legend>
        
            <div class="nhsuk-hint" id="contact-hint">
              Select a form from the available options
            </div>
        
            <div class="nhsuk-radios nhsuk-radios--conditional">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="phone" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                Deferred benefit claim form (AW8P)
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                    Use the AW8P form if you are a deferred member of the NHS pension scheme and want to claim your pension benefits. 
                    Only use the AW8P form if you have left NHS employment completely.
                  </label>          
                </div>      
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                 Change of bank details or address change
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                    Use this form if you need to tell us your new bank details or address.
                  </label>              
                </div>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                 Form to claim death benefits and/or an allocated pension, or report the death of a member or pensioner
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-3">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                  <p> Use the DCF form to let us know a pension member has died.  
                    You can also claim death benefits or an allocated pension in the event of a bereavement.</p>
                  </label>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-4" name="contact" type="radio" value="text" aria-controls="conditional-contact-4" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-4">
                  Consideration of entitlement for early payment of deferred benefits due to ill health (AW240)
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-4">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                  <p> Use the AW240 form if you become too ill to work and want to retire and take your pension benefit. 
                    You must be a deferred member and no longer actively contributing to your NHS pension.  </p>
                   </label>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-5" name="contact" type="radio" value="text" aria-controls="conditional-contact-5" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-5">
                  Lump sum death benefit (DB1)
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-5">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                  <p> Use the DB1 form if you want to make a nomination for a lump sum in the event of your death. You can also use this form if you are a Pension Credit Member and your Pension sharing order started before 1 April 2000. 
                    Only use this form if your pensionable employment ended before 1 April 2008. </p>
                  </label>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-6" name="contact" type="radio" value="text" aria-controls="conditional-contact-6" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-6">
                  Lump sum death benefit nomination (DB2)
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-6">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                  <p> Use the DB2 form to make a nomination for a lump sum in the event of your death. You can also change an existing nomination. 
                    This will replace a previous nomination choice. You must have a Pension scheme membership on or after 1 April 2008.</p>
                  </label>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-7" name="contact" type="radio" value="text" aria-controls="conditional-contact-7" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-7">
                  Partner nomination (PN1)
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-7">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                  <p> Use the PN1 form if you want to nominate a partner to receive an adult dependant’s pension in the event of your death. 
                    You must have a Pension scheme membership on or after 1 April 2008.</p> </label>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-8" name="contact" type="radio" value="text" aria-controls="conditional-contact-8" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-8">
                  Application for a refund of pension contributions (RF12)
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-8">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                  <p> Use this form if you have less than two years qualifying membership in 
                    the NHS Pension scheme and wish to apply for a refund of pension contributions. </p>
                    </label>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-9" name="contact" type="radio" value="text" aria-controls="conditional-contact-9" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-9">
                  Application to leave NHS pension scheme (SD502)
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-9">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                  <p> Use the SD502 form if you want to stop contributing to the NHS Pension scheme. 
                    You and your employer must complete the form. This is the only way to leave the NHS pension scheme.</p>
                  </label>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-10" name="contact" type="radio" value="text" aria-controls="conditional-contact-10" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-10">
                  Membership enquiry with NHS pensions (Form SM27C)
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-10">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-hint nhsuk-radios__hint" for="phone">
                  <p> Use the SM27C form if you want to ask about your NHS Pensions scheme membership. 
                    The employment you are asking about should be more than 7 years ago.</p>
                  </label>
                </div>
              </div>
        
            </div>
          
        
        

          
          <div class="nhsuk-radios__divider">or</div>

          <div class="nhsuk-radios nhsuk-radios--conditional">
          
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-11" name="contact" type="radio" value="contact-name" aria-controls="conditional-contact-11" aria-expanded="false"
              value="SDNUMBER" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-11">
                The form I want is not listed
              </label>
            </div>
      
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-11">
      
              <div class="nhsuk-form-group">
                <p>If you can not find the form you need in the list, request the type of form you would like in the box below by entering a reference number or name.</p>
                <label class="nhsuk-label" for="FORMREF">
                  Form number or name
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="number" name="number" type="text">
              </div>
      
            </div>
            
          </div>
          
        </fieldset>
      
      </div>
    </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <!-- End of content -->
    </form>
    </div>  

  </div>


  <script>
    function setLocation(element) {
      document.forms[0].action = element.value
    }
  </script>
{% endblock %}
