<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Form ordering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>
 


        <form method=“post”>

          <div class="nhsuk-panel nhsuk-panel--confirmation" style="background-color:#005eb8; color:white; text-align:center; padding: 40px; margin-bottom:40px">
            <h1 class="nhsuk-panel__title nhsuk-u-margin-bottom-4">
              Form request has been sent
            </h1>
          </div>

          <p>You've successfully requested a {{ data['formType'] | default('[NAME]') }} form to be sent to:</p>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
          
            <p>Mrs. Mia Bloggs</br>
            <p>10 Downing Street</br>
            London</br>
            SW1A 2AA</p>
          </div>

          <p>We've sent you an email to confirm this.</p>

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                What happens next
              </h1>
            </legend>
            
             <p>We will send your form to you to fill in.</p>
             <p>When you complete the form, make sure you have all the documents and information you need.</p>
             <p>Depending on the form, you will need to post your form to your employer or to NHS Pensions.</p>
             {{ button({
              "href": "start",
              "text": "Request another form"
              }) }} 

          </fieldset>
          
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Get help with your form request
              </h1>
            </legend>

            <p>If you have any more questions before or after receiving your form, you can <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/member-hub/contact-nhs-pensions-members">contact us</a>.</p>

            <p><a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/589f166f-daa9-4791-ba4d-e400f6adbc80?preview=true">What did you think of this service?</a> (Survey will take 30 seconds)</p>

          </fieldset>

    </div>

    </form>
    
  </div>


<script>
  function setLocation(element) {
    document.forms[0].action = element.value
  }
</script>
{% endblock %}

