<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Form ordering
{% endblock %}

{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="contact-check-your-answers" method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l"> 
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
            <h1 class="nhsuk-fieldset__heading">
              Select an address</h1>
          </legend>
          
         
          

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
               Postcode
              </dt>
              <dd class="nhsuk-summary-list__value">
                AB1 2CD
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="contact-postcode-lookup">
                  Change<span class="nhsuk-u-visually-hidden"> name</span>
                </a>
          
              </dd>
          
            </div>

    <br>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="relationship">
              Select an address
            </label>
            <select class="nhsuk-select" id="relationship" name="addressList">
              <option value="10 Downing Street, London, AB1 2CD">10 Downing Street, London, AB1 2CD</option>
              <option value="12 Test Lane, London, AB1 2CD">12 Test Lane, London, AB1 2CD</option>
              <option value="1 Test Lane, London, AB1 2CD">1 Test Lane, London, AB1 2CD</option>
              <option value="2 Test Lane, London, AB1 2CD">2 Test Lane, London, AB1 2CD</option>
              <option value="3 Test Lane, London, AB1 2CD">3 Test Lane, London, AB1 2CD</option>
              <option value="12 Test Lane, London AB1 2CD">12 Test Lane, London AB1 2CD</option>
            
            </select>
          </div>
          
          
        </fieldset>

        <p class="nhsuk-body"><a href="contact-full-address">
          Address is not in the list, enter it manually
        </a></p>
      
      </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
