<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Form ordering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
      <form action="confirmation" method="post">
      <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
        <h1 class="nhsuk-heading-l">Review your details</h1>

<p>Check your answers and make sure they are correct before you submit your request. If you need to, you can change your answers.</p>

<p class="nhsuk-heading-m">Previous answers</p>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Requested form
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['formType'] | default('[NAME]') }}
            </dd>
          
            <dd class="nhsuk-summary-list__actions">
          
              <a href="nav-form-select-radios">
                Change<span class="nhsuk-u-visually-hidden">&nbsp; form requested </span>
              </a>
          
            </dd>
          
          </div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Name
  </dt>
  <dd class="nhsuk-summary-list__value">
    Mrs Mia Bloggs
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="contact-name">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; name. </span>
    </a>

  </dd>

</div>


<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
  Email confirmation
  </dt>
  <dd class="nhsuk-summary-list__value">
    m.bloggs@nhs.uk
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="contact-email-confirmation">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; email address</span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
  Postal address in the UK
  </dt>
  <dd class="nhsuk-summary-list__value">
    Yes
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="contact-is-address-uk">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; password.</span>
    </a>

  </dd>

</div>

<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Address
  </dt>
  <dd class="nhsuk-summary-list__value">
    {{ data['addressList'] | default('[NAME]') }}
  </dd>

  <dd class="nhsuk-summary-list__actions">

    <a href="contact-postcode-lookup">
      Change<span class="nhsuk-u-visually-hidden">&nbsp; address.</span>
    </a>

  </dd>

</div>



</div>


</div>

<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Submit request
</button>
<script src="/public/javascripts/navigation.js"></script>
</form>
{% endblock %}
