<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Form ordering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
 
{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <form method=“post”>

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l"> 
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
            <h1 class="nhsuk-fieldset__heading">
              Do you want an email confirmation?</h1>
          </legend>
        <p>If you would an email confirmation after you have sent your form request, select yes and enter your email address.</p>
        <div class="nhsuk-form-group">
          <div class="nhsuk-radios">

            <div class="nhsuk-form-group">
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="contact-is-address-uk" aria-controls="conditional-contact-1" aria-expanded="false"
                  value="yes" onclick="setLocation(this);">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
          
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="EMAIL">
                      Email Address
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="number" name="number" type="text">
                  </div>
          
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="#" name="example" type="radio"
                    value="contact-is-address-uk" onclick="setLocation(this);">
                  <label class="nhsuk-label nhsuk-radios__label" for="#">
                    No
                  </label>
                </div>
                
              </div>
          
        </fieldset>
      
      </div>
      <button class="nhsuk-button" type="submit">
        Continue
      </button>

      <!-- End of content -->
    </form>
    </div>  

  </div>

  <script>
    function setLocation(element) {
      document.forms[0].action = element.value
    }
  </script>
{% endblock %}
