<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Form ordering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--bottom">Your details</span>
        <span class="nhsuk-heading-l">What is the postal address?</span>
      </h1>




      <span class="nhsuk-hint">

    </span>

      <form action="contact-check-your-answers" method="post">

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Address line 1
            </label>
            <input class="nhsuk-input nhsuk-input--width-30" id="input-width-30" name="test-width-30" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Address line 2 (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-30" id="input-width-30" name="test-width-30" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Town or city
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
          </div>


          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              County (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-10">
              Postcode
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
          </div>

            </div>

</div>


        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">
            Continue
          </button>

          </div>

      </form>
    </div>
  </div>


  <script>
    function setLocation(element) {
            document.forms[0].action = element.value
    }
  </script>
{% endblock %}
