<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Form ordering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
 
{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <form method="post">

      <!-- Change the page heading -->


      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l"> 
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Requesting a form</span>
            <h1 class="nhsuk-fieldset__heading">
              How would you like to receive your {{ data['formType'] | default('[NAME]') }} form?</h1>
          </legend>

        
        <p>You can:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
    
          <li>download and print your form now</li>
          <li>have the form posted to you</li>
          
      </ul>

        
        <div class="nhsuk-form-group">
          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="#" name="example" type="radio"
                value="nav-print-form" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="nav-download">
               Download the form now
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="#" name="example" type="radio"
                value="contact-name" onclick="setLocation(this);">
              <label class="nhsuk-label nhsuk-radios__label" for="nav-download">
                Post the form to me
              </label>
            </div> 

          </div>
          
        </fieldset>
      
      </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <!-- End of content -->
    </form>
    </div>  

  </div>

  <script>
    function setLocation(element) {
      document.forms[0].action = element.value
    }
  </script>
{% endblock %}
