<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Form ordering
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
</br>

 
 
 {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  }) }}

  <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
 
          <h1 class="nhsuk-heading-l">
            Request a form
          </h1>

     <p class="nhsuk-body">Use this service to request a form </p>
<h3>Before you start</h3>

<p>We'll need to know:</p>
     <ul class="nhsuk-list nhsuk-list--bullet">
    
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            
        </ul>
              
                {{ button({
                    "href": "nav-form-select",
                    "text": "Start"
                    }) }} 
                    

            </form>
        </div>
    </div>

    <script>
      function setLocation(element) {
        document.forms[0].action = element.value
      }
    </script>
{% endblock %}
