<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "prototype-kit-template.njk" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block head %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Request a form",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}

  <div class="beta-banner">
    <div class="nhsuk-width-container">
        <p class="nhsuk-phase-banner__content">
            <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="nhsuk-phase-banner__text">
                This is a new service – your <a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/589f166f-daa9-4791-ba4d-e400f6adbc80?preview=true">feedback</a> will help us to improve it.
</span>
        </p>
    </div>
</div>

{% from 'back-link/macro.njk' import backLink %}
{% if not hideBack %}
  <div class="nhsuk-width-container">
    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Back"
    }) }}
  </div>
{% endif %}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer class="nhsuk-footer" role="contentinfo">
  <div class="nhsuk-width-container">
    <div class="nhsuk-footer__meta">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <p class="nhsuk-u-font-size-16">The following links open in a new tab, except cookies:</p>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
        </li>
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
        </li>
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="https://www.nhsbsa.nhs.uk/our-policies/privacy">Privacy policy</a>
        </li>
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions">Terms and conditions</a>
        </li>
      </ul>

      <p class="nhsuk-body-s">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
  
{% endblock %}

{% block bodyEnd %}
  <script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
  <script type="module">
    import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
    initAll()
  </script>
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavaScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}



